// Core variables and mixins
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_mixins";

$white: #FFFFFF;
$black: #000000;

$lighter-gray: #F9F9F9;
$light-gray: #E5E5E5;
$gray: #DDDDDD;
$gray-2: #CCCCCC;
$dark-gray: #777777;

$matedevs-red: #A02C2C;