<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav nav-home text-center">
        <li class="nav-home-li" ng-class="isActiveTab[0] ? 'selected-tab' : 'not-selected-tab'">
          <a class="navbar-label dropdown-toggle" 
          ng-click="moveToSection(1)">HOME</a>
          
        </li>
        <li class="nav-home-li" ng-class="isActiveTab[1] ? 'selected-tab' : 'not-selected-tab'">
          <a class="navbar-label dropdown-toggle" 
          ng-click="moveToSection(2)">JUEGOS PUBLICADOS</a>
        </li>
      </ul>
    </div>
  </div>
</div>