<div full-page-init id="fullpage">
    
  <div class="section landing-section">
    <div class="col-sm-12 col-md-12 col-lg-12 text-center home-logo-container">
      <img class="matedevs-home-logo"
    src="images/landing-section/matedevs-logo.png">
    </div>
  </div>

  <div class="section ptt-section">
    <div class="menu-screenshot">
      <img src="/images/ptt-section/menu.jpg">
    </div>
    <div class="gameplay-screenshot">
      <img src="/images/ptt-section/gameplay-screenshots.jpg">
    </div>
    <div>
      
      <!--<youtube-video 
      class="ptt-video"
        video-url="ptt.gameplayVideo"
        player="pttPlayer"
        player-width="'35%'" player-height="'40%'">
      </youtube-video>-->
  </div>

</div>